* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    position: relative;
}

div {
    border-radius: 100%;
    position: absolute;
}