* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

body {
    background-size: cover;
    background-color: #f0f0f0;
    overflow: hidden;

    #bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: -1;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
}

main {
    width: 60vw;
    max-width: 60vw;
    padding: 70px;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transition-delay: 1s;
    transition: width 1s ease-in-out;

    .group {
        width: 100%;
        max-width: 500px;
    }

    #content {
        margin-bottom: 80px;
        width: 100%;
        height: 0;
        transition: height 1s ease-in-out;
        overflow: hidden;

        h1 {
            font-size: 3rem;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2rem;
        }
    }

    #search {
        width: 100%;

        input {
            padding: 15px 20px;
            font-size: 16px;
            color: #999;
            border-radius: 5px;
            border: 1px solid #e0e0e0;
            width: 100%;
    
            &:focus {
                box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.2);
            }
        }
    }
}